{#include includes/base}
{#repoSlug}{pullRequest.repository.fullName}{/repoSlug}
{#repoUrl}{pullRequest.repository.url}{/repoUrl}
{#ghUrl}{pullRequest.htmlUrl}{/ghUrl}
{#authorLogin}{pullRequest.user.login}{/authorLogin}
{#authorUrl}{pullRequest.user.url}{/authorUrl}
{#authorAvatarUrl}{pullRequest.user.avatarUrl}{/authorAvatarUrl}
{#dateTime}
    <div class="posted">created <time>{time:format(pullRequest.createdAt, "dd MMM yyyy")}</time></div>
{#if pullRequest.updatedAt 
        && (pullRequest.updatedAt && pullRequest.closedAt != pullRequest.updatedAt) 
        || pullRequest.updatedAt != pullRequest.createdAt}
    <div class="updated">updated <time>{time:format(pullRequest.updatedAt, "dd MMM yyyy")}</time></div>
{/if}{#if pullRequest.closedAt 
        && (pullRequest.updatedAt && pullRequest.closedAt != pullRequest.updatedAt) 
        || pullRequest.closedAt != pullRequest.createdAt}
    <div class="closed">closed <time>{time:format(pullRequest.closedAt, "dd MMM yyyy")}</time></div>
{/if}{/dateTime}
{#body}{htmlBody.raw}{/body}
{/include}
