{#include includes/base}
{#repoSlug}{repoSlug}{/repoSlug}
{#ghUrl}{item.url}{/ghUrl}
{#authorLogin}{item.author.login}{/authorLogin}
{#authorUrl}{item.author.url}{/authorUrl}
{#authorAvatarUrl}{item.author.avatarUrl}{/authorAvatarUrl}
{#dateTime}
  <div class="posted">created {item.createdAt}</div>
  {#if item.closedAt && item.closedAt != item.createdAt}
      <div class="closed">closed {item.closedAt}</div>
  {/if}
  {#if item.updatedAt && item.updatedAt != item.createdAt && (!item.closedAt || item.updatedAt != item.closedAt)}
      <div class="updated">updated {item.updatedAt}</div>
  {/if}
{/dateTime}
{#body}{htmlBody.raw}{/body}
{/include}
